@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mattone';
  src: url('/fonts/Mattone-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fieldsdisplay';
  src: url('/fonts/FieldsDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla Variablefont Wght';
  src: url('/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}